.spacing {
    padding-top: 3rem;
}

.aboutme {
    margin-top: 100px !important;
    padding: 40px 0px !important;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 500;
}

.about-img {
    margin: auto;
    padding-left: 60px;
    margin-top: 18px;
}

.about-title {
    margin-top: 24px;
    margin-left: 40px;
    font-size: 15px;
}

.title {
    font-weight: bold;
    font-size: 17px;
}

.ligne-separator-about {
    background-color: #31A9E1;
    height: 3px;
    text-align: left;
}

.skill {
    margin-top: 30px;
    margin-left: 65px;
    h2 {
        margin-left: 15px;
    }
}

.progress {
    background-color: #cde1f8;
    height: 8px;
}

.title-skill {
    font-size: 16px;
    font-weight: bold;
}

.top-progress {
    margin-bottom: 8px;
}

.skill-progress {
    margin-bottom: 25px;
}

.pull-right {
    float: right;
    font-size: 16px;
}

.about-text {
    font-size: 16px;
}

.about-content h2 {
    font-size: 30px;
}

.link {
    color: #0078ff;
    font-weight: 600;
    text-decoration: none !important;
    &:hover {
        color: crimson;
    }
}

.icon-background {
    color: black;
}

.animationSkills {
    animation: tada infinite;
    animation-duration: 6s;
}
