.spacing {
    padding-top: 3rem;
}

.aboutme {
    margin-top: 80px;
    padding: 40px 0px !important;
    border-radius: 5px;
    background-color: #fff;
}

.about-img {
    margin: auto;
    padding-left: 50px;
}

.about-title {
    margin-top: 22px;
    font-size: 15.2px;
}

.title {
    font-weight: bold;
}

.ligne-separator-about {
    background-color: #0078ff;
    height: 3px;
    text-align: left;
}

.skill {
    margin-top: 30px;
    margin-left: 65px;
}

.progress {
    background-color: #cde1f8;
    height: 8px;
}

.title-skill {
    font-size: 16px;
}

.top-progress {
    margin-bottom: 8px;
}

.skill-progress {
    margin-bottom: 25px;
}

.pull-right {
    float: right;
    font-size: 16px;
}

.about-text {
    font-size: 16px;
}

.about-content h2 {
    font-size: 30px;
}

.link {
    color: #0078ff;
    font-weight: 600;
}
