.title-blog {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ligne-separator-blog {
    width: 5%;
    background-color: #0078ff;
    height: 3px;
}

.user-post-content {
    font-size: 18px;
}

.pull-right {
    float: right !important;
}

.buttons-blog {
    padding: 15px;
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.2);
        background-color: lightblue;
        color: black;
        font-weight: bold;
    }
}
