footer {
    background-color: #cbddff;
}

.footer {
    padding: 50px;
    font-size: 14px;
    h5, h2 {
        font-family: "Jost", sans-serif !important;
    }
    ul li {
        list-style-type: none;
        color: orangered;
        a {
            text-decoration: none;
            color: black;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: orangered;
            }
        }
    }
    p {
        white-space: pre-line;
        width: max-content;
    }
}

.copyright {
    padding: 10px;
    background-color: #37517E;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    p {
        margin-top: 15px;
    }
}

.social-links i.fab {
    background-color: #209dd8;
    margin-left: 10px !important;
    border-radius: 50%;
    color: white !important;
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: #209dd8;
    }
}