* {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
}

.nav-link {
    color: #0078ff !important;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar {
    padding: 10px !important;
}

.nav-item {
    margin: auto;
    padding-left: 10px;
    .nav-link {
        font-weight: bold !important;
        transition: all 0.2s ease-in-out !important;
        font-size: 15px !important;
        &:hover {
            color: crimson !important;
            transform: scale(1.2) !important;
        }
    }
}

.navbar-brand {
    font-size: 1.6rem;
    color: #0078ff !important;
    transition: all 0.2s ease-in-out !important;
    &:hover {
        transform: scale(1.2) !important;
    }
}

.btn-lr {
    padding: 10px 20px;
    border: 2px solid #0078ff;
    outline: none;
    border-radius: 5%;
    background-color: #f5f5f5;
    text-decoration: none !important;
    font-weight: bold;
    margin-left: 10px;
    color: #0078ff;
    transition: all 0.2s ease-in-out !important;
    &:hover {
        transform: scale(1.2) !important;
        background-color: #0078ff;
        color: #fff;
        border: 2px solid black;
        font-weight: 400;
    }
}

.home {
    background-image: url("img/home office.jpg");
    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

div h1 {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    .type {
        color: #0078ff;
    }
}

.buttonHome {
    position: absolute;
    top: 60%;
    left: 36%;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: 1.5px solid black;
    text-decoration: none !important;
    &:hover {
        color: white;
        background-color: black;
    }
}

.text-user {
    color: #0078ff;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: lightgray;
}

.dropdown-item span {
    padding-left: 15px !important;
}

.dropdown-item svg {
    width: 20px !important;
    height: 20px !important;
}

.user-name {
    font-size: 15px;
    text-transform: capitalize;
}

// Button Back to top

#myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background: #298eff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
}
  
#myBtn:hover {
    background: #5ca8ff;
}