body {
    background-color: #f5f5f5;
    background-image: url("img/home office.jpg");
}

nav {
    background-color: #fff;
}

.nav-link {
    color: #0078ff !important;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar {
    padding: 10px !important;
}

.nav-item {
    margin: auto;
    padding-left: 10px;
    .nav-link {
        font-weight: bold !important;
        &:hover {
            border-bottom: 2px solid #0078ff;
        }
    }
}

.navbar-brand {
    font-size: 1.6rem;
    color: #0078ff !important;
}

.btn-login-register {
    padding: 10px 20px;
    border: 2px solid #0078ff;
    outline: none;
    border-radius: 5%;
    background-color: #f5f5f5;
    text-decoration: none !important;
    font-weight: bold;
    color: #0078ff;
    &:hover {
        background-color: #0078ff;
        color: #fff;
        border: 2px solid black;
        font-weight: 400;
    }
}

.home {
    background-image: url("img/home office.jpg");
    height: 100vh;
    background-size: contain;
}

div h1 {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    .type {
        color: #0078ff;
    }
}
