.ligne-separator-services {
    width: 12%;
    background-color: #0078ff;
    height: 3px;
}

.title-services {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-show-services {
    color: crimson;
}

.services-content {
    padding: 2.4rem 1.3rem;
    margin-bottom: 3rem;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid black;
    transition: all 0.4s ease-in-out !important;
    &:hover {
        background-color: #7fdbff;
        transform: translateY(-20px) !important;
        color: #001f3f;
        h4 {
            animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
            animation-duration: 2s; /* don't forget to set a duration! */
        }
        .circle-icon {
            transition: all 0.4s ease-in-out !important;
            transform: scale(1.2);
            color: #001f3f;
        }
    }
}

.para-services {
    font-size: 15.5px;
}
